# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
virtual/
.env/

# VS Code
.vscode/

# Logs / temporários
*.log
*.tmp
*.swp

# Office temporários (Word/Excel)
~$*

# SO
.DS_Store
Thumbs.db
